﻿<div style="max-width: 1200px">
    <h3>Välkommen till Svenskt Kulturarvs Cms</h3>
    <p> Vid problem och tilläggsbeställningar kontakta Oh My på <a href="mailto:helpdesk@ohmy.nu">helpdesk@ohmy.nu</a></p>

    <div class="row">
        <div class="span4">
            <a href="Http://www.ohmy.nu" target="_blank" class="nounderline">
                <img src="views/dashboard/default/bild1_360.png" alt="Ohmylogo" style="margin: 10px 0 10px 0" />
            </a>

            <p>
                <a href="Http://www.ohmy.nu" target="_blank" class="nounderline">
                    Vi är den rikstäckande mediafabriken som dagligen levererar vasst berättat innehåll i rätt förpackning. Print, digitalt, socialt och mobilt. Helst i kombination - alltid med tanke.
                </a>
            </p>
        </div>
    </div>
</div>

