
@mixin vertical-align($position: relative){
	  position: $position;
	  top: 50%;
	  transform: translateY(-50%);
}

@mixin horizontal-align($position: relative){
	  position: $position;
	  left: 50%;
	  transform: translateX(-50%);
}

@mixin align-both($position: relative){
	 position: $position;
	 left: 50%;
	 top:50%;
	 transform: translate(-50%, -50%);
}

@mixin no-align($position:relative){
	position:initial !important;
	left: initial !important;
	top: initial !important;
	transform:none !important;
}