@import 'normalize';
@import 'entypo';
@import 'breaker';
@import 'mixins';
@import 'flexslider';

// Gone is the desktop, tablet and mobile. Let's use s, m, l, xl.
$s: 760px;
$m: 1020px;
$l: 1030px;
$xl: 1410px;

// Default content settings.
$contentWidth: 1200px;
$contentPadding: 15px;
$contentMaxWidth: 90%;

// Fonts and typography
$font: "adelle-sans", sans-serif;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
// Transitions
$defaultHover: .3s ease all;

// Colors
$blue:rgba(15, 115, 182, 1);
$lightblue:rgba(15, 115, 182, 0.7);
$yellow:rgba(239, 178, 17, 1);
$lightyellow:rgba(239, 178, 17, 0.7);
$red:rgba(194, 34, 34, 1);
$lightred:rgba(194, 34, 34, 0.7);
$grey:rgba(237, 237, 237, 1);
$lightgrey:rgba(237, 237, 237, 0.7);
$black:rgba(51, 51, 51, 1);
$lightblack:rgba(51, 51, 51, 0.7);
$white:rgba(255, 255, 255, 1);

.profiler-results {
	//display:none;
}

.hidden {
    display:none;
}
*::selection {
	background:$black;
	color:$white;
}
*:focus {
	outline:none;
}
//Text classes
.title {
	font-weight:$bold;
	&.box-item {
		font-size:18px;
		margin-bottom:10px;
		line-height:21px;
		@include below($l) {
			font-size:16px;
			line-height:19px;
		}
	}
	&.article {
		font-size:30px;
		line-height:30px;
		margin-bottom:20px;
		@include below($l) {
			font-size:24px;
			line-height:24px;
		}
	}
	&.heading {
		font-size:24px;
		line-height:30px;
		margin-bottom:30px;
		display:inline-block;
	}
	&.ad {
		font-size:28px;
		margin-bottom:10px;
		@include below($l) {
			font-size:22px;
		}
	}
}

.ingress {
	font-weight:$regular;
	font-size:18px;
	line-height:24px;
	margin-bottom:20px;
	@include below($l) {
		font-size:16px;
		line-height:22px;
	}
	&.article {
		font-size:21px;
		line-height:30px;
		margin-bottom:20px;
		@include below($l) {
			font-size:18px;
			line-height:27px;
		}
	}
}
p {
	font-weight:$regular;
	font-size:16px;
	line-height:24px;
	@include below($l) {
		line-height:20px;
	}
	&.article {
		font-size:18px;
		line-height:30px;
		@include below($l) {
			font-size:16px;
			line-height:28px;
		}
	}
	&.box-item {
		font-size:14px;
		&.yellow {
			color:$yellow;
			font-weight:$bold;
		}
		&.blue {
			color:$blue;
			font-weight:$bold;
		}
	}
}


//BUTTONS
.button {
	display:inline-block;
	text-align:center;
	padding:10px 20px;
	transition:$defaultHover;
	color:$white;
	cursor:pointer;
	&.default {
		margin:30px 0;
		@include below($l) {
			margin:15px 0;
		}
	}
	&.full {
		width:100%;
		display:block;
		padding:20px;
		margin:0;
		font-size:18px;
	}
	&.white {
		background:$white;
		color:$black;
	}
	&.blue {
		background:$blue;
		color:$white;
		&:hover {
			background:$lightblue;
		}
	}
	&.black {
		background:$black;
		color:$white;
		&:hover {
			background:$lightblack;
		}
	}
	&.yellow {
		background:$yellow;
		color:$white;
		&:hover {
			background:$lightyellow;
		}
	}
	&.red {
		background:$red;
		color:$white;
		&:hover {
			background:$lightred;
		}
	}
	&.forward {
		text-align:right;
	}
	&.noclick {
		cursor:default;
		margin:5px;
		pointer-events:none;
	}
	&.inline {
		display:inline-block;
		margin:5px;
	}
	&.tag {
		padding:5px 10px;
		font-size:14px;
	}
}

//LINKS
a {
	color: $black;
	transition:$defaultHover;
	text-decoration:none;
	&:hover {
		color:$lightblack;
	}
	&:focus {
		outline:none;
	}
}
// Element colors




/**
 * Default
 */

* {
	box-sizing: border-box;
	/*@include below($m) {
		max-width:100%;
	}*/
}

body {
	background:$grey;
	color:$black;
	font-family: $font;
	overflow-x:hidden;
	min-width:100%;
	min-height:100%;
	max-width:100%;
}
html {
	height:100%;
}
.left {
	float: left;
}
.right {
	float: right;
}
.wrapper {
	width:$contentWidth;
	margin: 0 auto;
	position:relative;
	display:block;
	@include below($l) {
		width:100%;
		padding:0 15px;
	}
}
section {
	padding:0 0 20px;
}
.content {
	width:100%;
}
/**
 * Templates n that
 */
/* Header */

header {
	width:100%;
	background:$white;
	position:relative;
	height:130px;
    margin-bottom:45px;
    @include below($l) {
    	height:100px;
    	margin-bottom:80px;
    }
    .container {
        width:$contentWidth;
        position:relative;
        margin:0 auto;
        @include below($l) {
        	width:100%;
        }
    }
    nav {
    	width:100%;
    	ul li a {
    		font-size:14px;
    	}
    }
}
.login-bar {
	background:$black;
	width:100%;
	height:40px;
	position:relative;
	top:0;
	@include below($l) {
		z-index:11;
	}
	.login {
		position:absolute;
		right:0;
		top:7px;
		@include below($l) {
			right:15px;
		}
		h3, a, i {
			display:inline-block;
			color:$grey;
			font-size:14px;
		}
		h3 {
			border-right:1px solid $lightgrey;
			font-weight:$bold;
			padding-right:10px;
		}
		a {
			margin-left:10px;
			&:hover {
				color:$white;
			}
		}
	}
	.slogan {
		position:absolute;
		left:0;
		top:7px;
		@include below($l) {
			left:15px;
		}
		@include below($s) {
			display:none;
		}
		p {
			color:$white;
			font-size:14px;
			@include below($m) {
				font-size:10px;
			}
		}
	}
}
a.brand {
	height:120px;
	width:120px;
	background:$white;
	position:absolute;
	left:0;
	box-shadow: 0px 0px 5px 3px rgba(170, 170, 170, 0.3);
	text-align:center;
	@include below($l) {
		z-index:11;
	}
	img {
		padding-top:12px;
	}
	@include below($s) {
		width:80px;
		height:80px;
		img {
			width:50px;
		}
	}
}
.mobile-menu {
	position:absolute;
	right:15px;
	top:7px;
	display:none;
	z-index:11;
	@include below($l) {
		display:block;
	}
	i {
		font-size:30px;
	}
}
.menus {
	position:absolute;
	right:0;
	padding:30px 0;
	@include below($l) {
		position:fixed;
		right:0;
		top:0;
		width:100%;
		height:100%;
		background:$white;
		z-index:10;
		opacity:0;
		pointer-events:none;
		transition:0.3s opacity;
		&.active {
			opacity:0.9;
			pointer-events:initial;
		}
	}
}
ul li.active a {
	font-weight:$bold;
}
ul li.active li a {
	font-weight:normal;
}
ul li ul li.active a {
	font-weight:$bold;
}
ul.main-nav {
	display:inline-block;
	@include below($l) {
		display:block;
		margin:0 auto;
		width:100%;
		text-align: center;
		top:50%;
		@include vertical-align(absolute);
	}
	li {
		display: inline-block;
		position:relative;
		margin:0 10px;
		@include below($l){
			display:block;
			a {
				font-size:30px;
				color:$black;
			}
		}
		@include below($s) {
			a {
				font-size:18px;
			}
		}
		&:before {
			content:'';
			position:absolute;
			right:-10px;
			top:4px;
			height:20px;
			width:1px;
			background:$grey;
		}
		&.has-children{
			padding-bottom:40px;
			@include below($l) {
				padding-bottom:0;
			}
			&:hover > ul {
				display:block;
			}
		}
	}
}
ul.sub-nav {
	display:none;
	position:absolute;
	background:$white;
	top:40px;
	box-shadow: 0px 0px 5px 2px rgba(170, 170, 170, 0.3);
	z-index:5;
	padding:10px;
	min-width:160px;
	&:before {
		content:'';
		width:13px;
		height:13px;
		background:$white;
		transform:rotate(45deg);
		position:absolute;
		top:-6px;
		right:75px;
		box-shadow:-2px -2px 5px 0px rgba(170, 170, 170, 0.3);
	}
	li {
		display:block;
		padding:5px 0;
		border-bottom:1px solid $grey;
		@include below($l) {
			padding:0;
		}
		&:last-child {
			border-bottom:none;
		}
		&:before {
			height:0;
			width:0;
		}
	}
	@include below($l) {
		display:block;
		position:relative;
		padding:0;
		box-shadow:none;
		top:0;
		&:before {
			height:0;
		}
		li {
			border-bottom:0;

		}
	}
}
ul.highlight-nav {
	display:inline-block;
	text-align:right;
	@include below($l) {
		display: block;
		text-align: center;
		position:absolute;
		width:100%;
		bottom:10%;
	}
	li {
		display: inline-block;
		position:relative;
		margin:0 10px;
		&:before {
			content:'';
			position:absolute;
			right:-10px;
			top:4px;
			height:20px;
			width:1px;
			background:$grey;
		}
		&.no-border {
			&:before {
				content:'';
				background:transparent;
			}
		}
		@include below($l) {
			&:before {
				height:0;
			}
			a {
				font-size:20px;
				color:$black;
			}
		}
		@include below($s) {
			a {
				font-size:18px;
			}
		}
	}
}
ul.sidebar-menu {
	width:100%;
	padding:20px 30px 20px 20px;
	background:$white;
	list-style:none;
	margin-bottom:30px;
	li {
		padding:5px 0;
		border-bottom:1px solid $grey;
		&:last-child {
			border-bottom:none;
		}
	}
}
//BOXES AND STUFF
a.box:hover {
	.feature-box {
		background:$black;
		.copy {
			color:$white;
		}
	}
	.grid-item {
		background:$black;
		.copy {
			color:$white;
			p.yellow, p.blue {
				color:$white;
			}
		}
		&:before {
			opacity:0.6;
		}
		.button {
			opacity:1;
		}
	}
}
/*START PAGE*/

//FEATURE BOX
.flex-direction-nav a {
	@include below($l) {
		display:none;
	}
}
.flexslider {
	@include below($l) {
		max-height:557px;
	}
}
.flexslider.home {
	@include below($l) {
		height:292px;
		max-height:none;
	}
	@include below($m) {
		height:auto;
		max-height:705px;
	}
	.flex-direction-nav a {
		display:none;
	}
}
.feature-box {
	width:100%;
	background:$white;
	transition:$defaultHover;
	max-height:352px;
	min-height:352px;
	@include below($m) {
		height:auto;
		max-height:none;
		min-height:none;
	}
	.copy {
		width:50%;
		display:inline-block;
		padding:40px 100px 10px 40px;
		@include below($m) {
			width:100%;
			margin-bottom:60%;
		}
		@include below($s) {
			padding:15px;
		}

	}
	.image {
		width:50%;
		float:right;
		overflow:hidden;
		@include below($m) {
			width:100%;
			float:none;
			overflow:initial;
			position:absolute;
			bottom:0;
		}
		img {
			width:100%;
		}
	}
}

//SEARCH

.search-wrap {
	width:100%;
	background:$white;
	position: relative;
	input {
		border:none;
		width:92.3%;
		display:inline-block;
		height:58px;
		padding-left:30px;
		font-family:$font;
		font-size:18px;
		&:focus {
			border-bottom:1px solid $grey;
		}
		@include below($s) {
			padding-left:15px;
			font-size:12px;
		}
	}
	span {
		width:60px;
		float:right;
		height:60px;
		background:$black;
		text-align:center;
		position:relative;
		@include below($l) {
			position:absolute;
			right:0;
			top:0;
		}
		@include below($s) {
			display:none;
		}
		i {
			color:$white;
			font-size:20px;
			@include align-both(absolute);
		}
	}
}
//FILTER SECTIONS
//

.head-icon {
	display:inline-block;
	padding:5px;
	margin-right:5px;
	i {
		font-size:20px;
		color:$white;
	}
	&.yellow {
		background:$yellow;
	}
	&.blue {
		background:$blue;
	}
}

//FILTERINGS
section.filters {
	position:relative;
	@include below($s) {
		display:none;
	}
}
section.filter-results {
	width:910px;
	display:inline-block;
	@include below($s) {
		display:none;
		&.sub {
			display:block;
			width:100%;
		}
	}
}
.filter-wrap {
	width:100%;
	position:relative;
	margin-top:20px;
	.tabs {
		width:100%;
		position:relative;
		margin-top:20px;
		.tab {
			background:transparent;
			transition:$defaultHover;
			padding:10px 20px;
			font-weight:$bold;
			text-align:center;
			display:inline-block;
			&.button {
				cursor:pointer;
				font-weight:normal;
				background:transparent;
				color:$black;
				&:hover {
					font-weight:$bold;
				}
			}
		}
		.filter-options {
			float:right;
			padding:0;
			position:relative;
			top:5px;
			span {
				padding:10px 20px;
				cursor:pointer;
				i {
					font-size:20px;
				}
				&.active {
					background:$white;
					color:$black;
				}
			}
		}
	}
	.sorting {
		width:100%;
		padding:10px 20px;
		background:$white;
		position:relative;
		.instruct {
			font-size:18px;
			margin-right:45px;
			position:relative;
			@include below($m) {
				font-size:16px;
			}
			&:after {
				content:'';
				background:$grey;
				width:1px;
				height:63px;
				position:absolute;
				right:-35px;
				top:-18px;
			}
		}
		.sort {
			padding:10px 20px;
			width:auto;
			background:$grey;
			display:inline-block;
			text-align: center;
			color:$black;
			cursor:pointer;
			border:none;
			position:relative;
			z-index:4;
			@include below($m) {
				padding:10px 10px;
			}
			&.active {
				background:$white;
				color:$black;
				border:1px solid $grey;
				border-bottom:1px solid $white;
				z-index:6;
			}
			i {
				margin-left:10px;
				
				display: inline-block;

			}
		}
        .filter-attractions-button, .filter-exhibitions-button {
			padding:10px 20px;
			width:auto;
			background:$black;
			display:inline-block;
			text-align: center;
			color:$white;
			cursor:pointer;
			border:none;
			position:relative;
			z-index:4;
			&.active {
				background:$white;
				color:$black;
				border:1px solid $grey;
				border-bottom:1px solid $white;
			}
			i {
				margin-left:10px;
				
				display: inline-block;

			}
		}
		.viewing-options {
			position:absolute;
			right:10px;
			top:10px;
			span {
				width:40px;
				display:inline-block;
				height:40px;
				background:$grey;
				position:relative;
				cursor:pointer;
				i {
					color:$black;
					@include align-both(absolute);
					font-size:20px;
				}
				&.active {
					background:$black;
					i {
						color:$white;
					}
				}
			}
		}
	}
}
//DROPDOWNS
//
.dropdown {
	position:absolute;
	display:none;
	width:100%;
	height:auto;
	top:118px;
	background:$white;
	padding:20px;
	box-shadow: 1px 5px 5px 2px rgba(170, 170, 170, 0.3);
	z-index:5;
	&:before {
		content:'';
		background:$grey;
		width:100%;
		position:absolute;
		height:1px;
		top:-1px;
		left:-1px;
	}
	&.toggled {
		display:block;
	}
	.head {
		width:100%;
		border-bottom:1px solid $grey;
		h2 {
			display: inline-block;
			&.service {
				float:right;
				position:relative;
				right:198px;
				@include below($l) {
					right:435px;
					top:300px;
				}
				@include below($m) {
					right:292px;
				}
			}
		}
	}
	.lists ul {
		list-style: none;
		display: inline-block;
		width:257px;
		height:auto;
		text-align: top;
		margin:20px 40px 20px 0px;
		vertical-align: top;
		border-right:1px solid $grey;
		@include below($l){
			width:44%;
		}
		&.last {
			margin-right:0;
			border-right:none;
		}
		li {
			margin-bottom:25px;
			font-size:16px;
		}
	}
}
span.checkbox {
	width:20px;
	height:20px;
	background:$grey;
	display:inline-block;
	float:right;
	margin-right:20px;
	cursor:pointer;
	i {
		display:none;
		color:$white;
		position:relative;
		bottom:2px;
		right:2px;
	}
	&.checked {
		background:$black;
		i {
			display:block;
		}
	}
}
.county-wrap {
	
}
//DATEPICKER CSS
.ui-datepicker {
	font-family:$font !important;
	border-radius:0 !important;
	border:1px solid $grey !important;
}
.ui-datepicker-title, .ui-datepicker-header {
	background:$white !important;
	border-radius:0 !important;
	font-size:18px !important;
}
.hide {
	display:none;
}
.ui-datepicker-current-day, .ui-state-default.ui-state-active {
	background:$black !important;
	color:$white !important;
	border:none !important;
}
.ui-widget-header .ui-icon {
	background-image:url('img/datepicker-sprite.png') !important;
}
.ui-state-hover {
	background:none !important;
	border:none !important;
}
.ui-icon-circle-triangle-e {
	background-position:-8px center !important;
}
.ui-icon-circle-triangle-w {
	background-position:4px center !important;
}
.ui-datepicker td:hover  {
	background:$grey !important;
	border:none !important;
}
.ui-datepicker td a {
	border:1px solid $grey !important;
}
.ui-datepicker td:hover a {
	background:$grey !important;
}
.ui-datepicker-header {
	border:none !important;
}
.ui-datepicker th {
	font-weight:normal !important;
}
.ui-state-default {
	text-align:center !important;
	background:$white !important;
}
.datepicker {
	display:inline-block;
	margin-top:30px;
	margin-right:30px;
}

//STANDARD GRID 
//
a.col-4 {
	margin-right:36.5px;
	margin-bottom:36.5px;
	display:inline-block;
	width:22.5%;
	height:390px;
	background:$white;
	display:inline-block;
	vertical-align:top;
	@include below($l) {
		margin-right:30px;
	}
	@include below($m) {
		width:30.6%;
		margin-right:30px;
		margin-bottom:30px;
		&:nth-child(3n+3) {
			margin-right:0;
		}
	}
	@include below($s) {
		width:100%;
		margin-top:30px;
		margin-bottom:0;
		height:auto;
		margin-right:0;
	}
}

a.col-4:nth-child(4n+4) {
	margin-right:0;
	@include below($m) {
		margin-right:30px;
	}
}

.grid-wrap {
	position:relative;
	width:100%;
	margin-bottom:-15px;
	@include below($s) {
		display:none;
	}

	&.subpage {
		width:910px;
		display: inline-block;
		@include below($s) {
			width:100%;
			display:block;
		}
		a.col-4 {
			width:30.4%;
			@include below($s) {
				width:100%;
			}
		}
		a.col-4:nth-child(4n+4) {
			margin-right:36.5px;
		}
		a.col-4:nth-child(4n) {
			margin-right:0;
		}
	}
}

section.results {
	position:relative;
	@include below($s) {
		display:none;
	}
}

.overlay {
	background:$grey;
	position:absolute;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	z-index:2;
	pointer-events:none;
	.loader {
		@include align-both(absolute);
	}
}

.grid-item {
	position:relative;
	transition:$defaultHover;
	background:transparent;
	&:before {
		content:'';
		position:absolute;
		opacity:0;
		background:$white;
		top:0;
		left:0;
		width:100%;
		height:240px;
		z-index:2;
		transition:$defaultHover;
	}
	img {
		width:100%;
		height:240px;
		position: relative;
	}
	&.ad {
		padding:20px 10px;
		//background-image:url('img/kort.jpg');
		background-size:100% 100%;
		background-repeat:no-repeat;
		height:100%;
		background-color:none;
		@include below($s){
			background-image:none;
		}
	}
	.card {
		background:$yellow;
		color:$white;
		height:100%;
		padding:60px 20px 70px 20px;
		&.blue {
			background:$blue;
		}
		@include below($l) {
			padding:60px 20px 60px 20px;
		}
	}
	.copy {
		padding:10px 20px;
		position:relative;
		min-height:145px;
	}
	.date {
		display:block;
		position:absolute;
		bottom:20px;
		font-size:14px;
	}
	.button {
		@include horizontal-align(absolute);
		margin:0;
		top:25%;
		opacity:0;
		z-index:2;
	}
}

.ad-label {
	position:absolute;
	top:5px;
	left:5px;
	padding:5px;
	background:$white;
	color:$black;
	font-weight:$bold;
	font-size:12px;
}

//SIDEBAR
//
.right-sidebar {
	float:right;
	width:270px;
	margin-left:20px;
	a.col-4 {
		width:100%;
		height:auto;
		margin-right:0;
	}
	.grid-item img {
		width:100%;
	}
	@include below($l) {
		float:none;
		width:100%;
		margin-left:0;
		a.col-4 {
			width:22.4%;
			margin-right:30px;
		}
	}
	@include below($m) {
		float:none;
		width:100%;
		margin-left:0;
		a.col-4 {
			width:30.3%;
			margin-right:30px;
			margin-bottom:30px;
			&:nth-child(4n+4) {
				margin-right:0;
			}
		}
	}
	@include below($s) {
		a.col-4 {
			width:100%;
			margin:15px 0;
			margin-bottom:15px;
		}
	}
}

//ARTICLE
//
section.content {
	width:910px;
	position:relative;
	display:inline-block;
    float:left;
	@include below($l) {
		width:100%;
	}
}

article {
	&.standard {
		width:100%;
		background:$white;
		position:relative;
		margin-bottom:20px;
		h3, span.date {
			font-size:16px;
			margin:10px 0;
			display:block;
		}
		.copy {
			padding:40px;
			vertical-align: top;
			@include below($s) {
				padding:15px;
			}
			&.small {
				width:540px;
				margin-right:40px;
				display:inline-block;
				@include below($m) {
					width:60%;
				}
				@include below($s) {
					width:100%;
					margin-right:0;
					display: block;
				}
			}
		}
	}
}

.infobox {
	display:inline-block;
	position:relative;
	right:-30px;
	margin:30px 0;
	width:270px;
	@include below($m) {
		width:32%;
		right:0;
	}
	@include below($s) {
		display:block;
		width:90%;
		margin:15px auto;
	}
	.header {
		background:$black;
		color:$white;
		width:100%;
		display:block;
		padding:10px 20px;
	}
	.details {
		background:$grey;
		width:100%;
		padding:20px;
		border-bottom:1px solid $white;
	}
}

.slide-wrap {
	position:relative;
	img {
		width:100%;
	}
	.text {
		position:absolute;
		bottom:0;
		width:910px;
		transition:$defaultHover;
		@include below($l) {
			width:100%;
		}
		@include below($s) {
			display:none;
		}
		&.toggled {
			
		}
		.fotoby {
			background:$black;
			color:$white;
			padding:10px 15px;
			position:absolute;
			right:146px;
			bottom:0;
		}
		.js-toggle-text {
			background:$black;
			color:$white;
			padding:10px 15px;
			position:absolute;
			right:0;
			bottom:0px;
			cursor:pointer;
		}
		.slide-text {
			padding:35px 150px 35px 35px;
			background:$black;
			position:absolute;
			width:100%;
		}
		p {
			color:$white;
		}
	}
}
.hours {
	margin-left:5px;
}
.tags {
	margin-bottom:20px;
	margin-left:-5px;
}

/*GOOGLE MAPS*/
#map_canvas {
    height:225px;
}

#map_attraction_canvas_home, #map_exhibition_canvas_home {
  width: 99%;
  height: 750px;
  position: relative;
  overflow: hidden;
  transform: translateZ(0px);  
}

.marker-info-window {
    width:175px;
}
/*AUTOCOMPLETE FORM STYLE*/

.ui-autocomplete {
	font-family:$font !important;
	border:none !important;
	box-shadow: 1px 5px 5px 2px rgba(170, 170, 170, 0.3) !important;
	max-height: 580px;
	overflow:scroll;
	overflow-x:hidden;
	@include below($s) {
		max-height:348px !important;
		width:90.2%;
	}
	li {
		height: 58px !important;
		padding-left: 30px !important;
		font-size: 18px !important;
		padding-top: 10px !important;
		border-bottom:1px solid $grey;
		background:transparent;
		transition:.2s background;
		position:relative;
		@include below($s) {
			font-size:12px !important;
			padding-left:15px !important;
		}
		&:hover {
			background:$grey;
		}
		&.attraction {
			.icon-brush {
				display:none;
			}
			.icon-location {
				background:$blue;
				color:$white;
				padding:2px;
				margin-right:15px;
				position:relative;
				top:9px;
			}
		}
		&.exhibition {
			.icon-location {
				display:none;
			}
			.icon-brush {
				background:$yellow;
				color:$white;
				padding:2px;
				margin-right:15px;
				position:relative;
				top:9px;
			}
		}
		span {
			position:absolute;
			font-size:12px;
			left:75px;
			bottom:6px;
			color:$lightblack;
			@include below($s) {
				left:50px;
			}
		}
	}
}
.mobile-only {
	display:none;
	@include below($s) {
		display:block;
	}
}
/*FOOTER*/
#globalWrapper {
	min-height:100%;
	margin: 0 auto -90px;
}

.push {
	height:90px;
	background:$grey;
}

footer {
	height:90px;
	width:100%;
	position:relative;
	background:$white;
	border-top:1px solid $lightgrey;
	@include below($s) {

	}
	div {
		position:absolute;
		top:20px;
		@include below($s) {
			width:100%;
			position:relative;
			top:10px;
		}
	}
	.copyright {
		left:0;
		@include below($l) {
			left:15px;
			p {
				font-size:14px;
			}
			
		}
		@include below($s) {
			left:0;
			p {
				font-size:12px;
			}
		}
	}
	.contact {
		right:0;
		@include below($l) {
			right:15px;
			font-size:14px;
		}
		@include below($s) {
			right:0;
			font-size:12px;
		}
	}
	span {
		margin-left:15px;
		@include below($s) {
			width:100%;
			margin-left:-3px;
			display:block;
		}
		&.border {
			border-right:1px solid $grey;
			padding-right:15px;
		}
	}
}

//FORMULÄRE
.col-sm-4 {
	width:910px;
	position:relative;
	background:white;
	padding:40px;
	float:left;
	button {
		outline:none;
		border:none;
		margin-left:15px;
	}
}
.input-holder{
	position: relative;
	margin: 30px 15px;
	display:inline-block;
	width:171px;
	label{
		position: absolute;
		left: 0;
		padding: 5px 15px;
		width: 100%;
		font-size: 16px;
		pointer-events: none;
		transform: translate(0, 0px);
		transition: .2s all;
		color: RGB(172, 172, 172);
	}
	input {
		background:$grey;
		border:none;
		height:35px;
		width:100%;
	}
	select {
		height:35px;
		padding:5px 15px;
		background:$grey;
		border:none;
		text-align:left;
		color: RGB(172, 172, 172);
		width:100%;
		display:block;
		margin-right:1px;
	}
	&.move-label{
		label{
			background: $grey;
			transform: translate(0, -27px);
			font-size: 14px;
			color: RGB(172, 172, 172);
		}

		input{
			background: #fff;
			border-bottom:1px solid $grey;
		}
	}
}