﻿@using System.Linq
@inherits UmbracoViewPage<IMasterModel>


@if (Model.Ads != null &&Model.Ads.Any())
{
    foreach (var ad in Model.Ads)
    {
        var adLink = ad.LinkToAd != null ? ad.LinkToAd.Url() : ad.Url;
        
        <a href="@adLink" class="col-4 box">

            <div class="grid-item">
            @if (ad.Image != null)
            {
                <img src="@ad.Image.Cropper.GetCropUrl(270, 240, null, 75)">
            }
                <span class="button default yellow">Läs mer</span>
                <div class="copy">
                    @if (!string.IsNullOrWhiteSpace(ad.Title))
                    {
                    <p class="box-item">@ad.Title</p>
                    }
                    @if (!string.IsNullOrWhiteSpace(ad.Name))
                    {
                    <h2 class="title box-item">@ad.Name</h2>
                        
                    }
                    @if (ad.Preamble != null)
                    {
                    <p class="box-item">@ad.Preamble</p>
                    }
                </div>
            </div>
        </a>
    }
}