﻿@using System.Linq
@inherits UmbracoViewPage<IPublishedContent>
<h2>Besöksmål</h2>
@*//TODO filtrera på dem attraktioner som är aktuella*@
<ul>

    @foreach (var attraction in Model.StartPage().Descendants().OfType<Attraction>().OrderBy(a=>a.Name))
    {
        <li><a href="@attraction.Url" alt="@attraction.Name">@attraction.Name</a></li>
    }
</ul>
