﻿@using System.Linq
@model CategoriesViewModel

@{
    const int numberOfColumns = 3;
    int colAddition = Model.AttractionCategories != null ? (Model.AttractionCategories.Count() % numberOfColumns > 0 ? 1 : 0) : -1;
    int colBaseValue = Model.AttractionCategories != null ? (Model.AttractionCategories.Count() / numberOfColumns) : -1;
}

@if (Model.AttractionCategories != null)
{
    for (int i = 0; i < numberOfColumns - 1; i++)
    {
        <ul>
            @for (int j = i * (colBaseValue + colAddition); j < (i + 1) * (colBaseValue + colAddition); j++)
            {
                <li>@Model.AttractionCategories.ElementAt(j).Name <span class="category-checkbox checkbox" data-id="@Model.AttractionCategories.ElementAt(j).Id"><i class="icon-check"></i></span></li>
            }
        </ul>
    }

    @*Last column for attraction categories.*@
    <ul>
        @for (int i = (numberOfColumns - 1) * (colBaseValue + colAddition); i < Model.AttractionCategories.Count(); i++)
        {
            <li>@Model.AttractionCategories.ElementAt(i).Name <span class="category-checkbox checkbox" data-id="@Model.AttractionCategories.ElementAt(i).Id"><i class="icon-check"></i></span></li>
        }
    </ul>

    if (Model.ServiceCategories != null)
    {
        <ul class="last">
            @for (int i = 0; i < Model.ServiceCategories.Count(); i++)
            {
                <li>@Model.ServiceCategories.ElementAt(i).Name <span class="service-category-checkbox checkbox" data-id="@Model.ServiceCategories.ElementAt(i).Id"><i class="icon-check"></i></span></li>
            }
        </ul>
    }
}
else
{
    <p>Settings sidan saknas</p>
}