﻿@using System.Linq
@model IPublishedContent
@{
    var m = Model as Base;
}

<ul class="breadcrumb visible-md visible-lg">
    @foreach (var ancestor in m.Ancestors().Where(t => t.VisibleInMenu() || t.Level == 1).OrderBy(t => t.Level))
    {
        <li><a href="@ancestor.Url">@ancestor.GetMenuName()</a></li>
    }
    <li class="active">@m.GetMenuName()</li>
</ul>
