﻿@using System.Linq
@inherits UmbracoViewPage<IPublishedContent>
<h2>Utställningar</h2>
@*//TODO filtrera på dem utställningarna som är aktuella*@ 
<ul>
    
    @foreach (var exhibition in Model.StartPage().Descendants().OfType<Exhibition>().OrderBy(e => e.Name))
    {
        <li><a href="@exhibition.Url" alt="@exhibition.Name">@exhibition.Name</a></li>
    }
</ul>
