﻿@using System.Linq
@model System.Collections.Generic.IEnumerable<FlexSlider>

<ul class="slides">
    @foreach (FlexSlider item in Model)
    {
        <li>
            <div class="slide-wrap">
                @if (item.Image != null)
                {
                    <img src="@item.Image.Cropper.GetCropUrl(910,510,null,100)" alt="@item.ImageAltText">
                }
                <div class="text">

                    @if (!string.IsNullOrWhiteSpace(item.Photographer))
                    {
                    <span class="fotoby">Foto: @item.Photographer</span>
                    }
                    @if (!string.IsNullOrWhiteSpace(item.ImageText))
                    {
                        <span class="js-toggle-text"><span class="js-toggle-showhide">Visa bildtext</span> <i class="icon-up-dir toggle-icon-slidetext"></i></span>

                        <article class="slide-text">
                            <p class="article">@item.ImageText
                            </p>
                        </article>
                    }

                </div>
            </div>
        </li>
    }
</ul>