﻿@using System
@using System.Linq
@model System.Collections.Generic.IEnumerable<GeoContainer>
           
@{
    const int numberOfColumns = 4;
    int colAddition = Model.Count() % numberOfColumns > 0 ? 1 : 0;
    int colBaseValue = Model.Count() / numberOfColumns;
}

@for (int i = 0; i < numberOfColumns - 1; i++)
{
    <ul>
        @for (int j = i*(colBaseValue + colAddition); j < (i+1)*(colBaseValue + colAddition); j++)
        {
            <li>@Model.ElementAt(j).Name <span class="county-checkbox checkbox" data-id="@Model.ElementAt(j).Id"><i class="icon-check"></i></span></li>
        }
    </ul>
}

<ul class="last">
    @for (int i = (numberOfColumns - 1) * (colBaseValue + colAddition); i < Model.Count(); i++)
    {
        <li>@Model.ElementAt(i).Name <span class="county-checkbox checkbox" data-id="@Model.ElementAt(i).Id"><i class="icon-check"></i></span></li>
    }
</ul>