﻿@using System.Linq
@model System.Collections.Generic.IEnumerable<Slider>

@foreach (Slider item in Model)
{
    if (item.Link != null || !item.GetContentFromLink)
    {
        if (item.Link as Exhibition != null)
        {
            var exhib = item.Link as Exhibition;
            <li>
                <a class="box" href="@(item.Link != null ? item.Link.Url : "#")">
                    <div class="feature-box">
                        <div class="copy">
                            <h2 class="title article">@exhib.Name</h2>
                            <h3 class="ingress article">@item.SubHeading</h3>
                            @if (exhib.Preamble != null)
                            {
                                <p>@exhib.Preamble.ToString().TruncateAtWord(175)...</p>
                            }
                            <span class="button default yellow">Läs mer</span>
                        </div>
                        <div class="image">
                            @if (exhib.MainImage != null)
                            {
                                <img src="@exhib.MainImage.Cropper.GetCropUrl(600, 352, null, 75)">
                            }
                        </div>
                    </div>
                </a>
            </li>
        }
        else
        {
            <li>
                <a class="box" href="@(item.Link != null ? item.Link.Url : "#")">
                    <div class="feature-box">
                        <div class="copy">
                            <h2 class="title article">@item.Title</h2>
                            <h3 class="ingress article">@item.SubHeading</h3>
                            <p>@item.Text</p>
                            <span class="button default yellow">Läs mer</span>
                        </div>
                        <div class="image">
                            @if (item.Image != null)
                            {
                                <img src="@item.Image.Cropper.GetCropUrl(600, 352, null, 75)">
                            }
                        </div>
                    </div>
                </a>
            </li>
        }
    }
    else
    {
        var itFromContent = item.Link as Base;
        if (itFromContent != null)
        {
            <li>
                <a class="box" href="@(item.Link != null ? item.Link.Url : "#")">
                    <div class="feature-box">
                        <div class="copy">
                            <h2 class="title article">@itFromContent.Name</h2>
                            <h3 class="ingress article">@item.SubHeading</h3>
                            <p>@itFromContent.Preamble</p>
                            <span class="button default yellow">Läs mer</span>
                        </div>
                        <div class="image">
                            @if (item.Image != null)
                            {
                                <img src="@item.Image.Cropper.GetCropUrl(600, 352, null, 75)">
                            }
                        </div>
                    </div>
                </a>
            </li>
        }
    }
}