﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IMasterModel>
<div class="push"></div>
<footer>
	<div class="wrapper">
		<div class="copyright">
			<p>© Svenskt Kulturarv 2015</p>
		</div>
	    <div class="contact">
	        @if (Model.FooterAdress != null)
	        {
	            <span class="border"><i class="icon-home"></i> @Model.FooterAdress.Adress1, @Model.FooterAdress.Adress2, @Model.FooterAdress.Phone</span>
	            <span><i class="icon-mail"></i> <a href="mailto:@Model.FooterAdress.Email">@Model.FooterAdress.Email</a></span>
	        }
	    </div>
	</div>
</footer>