﻿@using System.Linq
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IMasterModel>

<header class="navbar-fixed-top">
    <nav class="login-bar">
        <div class="wrapper">
            <div class="slogan">
            <p>Ett skyltfönster för det fantastiska utbudet av museer, slott och kulturhistoriska besöksmål i Sverige.</p>
            </div>
            <div class="login">
                <i class="icon-home"></i>
                <h3>Medlemsmuseer</h3>
                <a href="~/umbraco">Logga in </a>
            </div>
        </div>
    </nav>
    <div id="mainHeader" role="banner">
        <div class="container">
            <nav class="navbar navbar-default scrollMenu" role="navigation">
                <div class="navbar-header">
                    <!-- Logo -->
                    <a class="brand" href="/">
                        <img src="~/css/img/logo.png" />
                    </a>

                </div>
                <div class="menus">
                    <!-- Main navigation -->
                    <ul class="main-nav">
                        @foreach (var menuItem in Model.MenuItems)
                        {
                            <li class="@menuItem.ActiveClass">
                                <a href="@menuItem.Url">@menuItem.Title</a>
                                @if (menuItem.ChildPages.Any())
                                {
                                    <ul class="sub-nav">
                                        @foreach (var secondLevelItem in menuItem.ChildPages)
                                        {
                                            <li class="@secondLevelItem.ActiveClass"><a href="@secondLevelItem.Url">@secondLevelItem.Title</a></li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>

                    <ul class="highlight-nav">
                        @if (Model.MobilAppInfoPage != null)
                        {
                            <li><a href="@Model.MobilAppInfoPage.Url"><i class="icon-mobile"></i> @Model.MobilAppInfoPage.GetMenuName()</a></li>
                        }
                        @if (Model.SwedishHeritageCardInfoPage != null)
                        {
                            <li class="no-border"><a href="/kulturarvskortet"><i class="icon-vcard"></i> Läs mer om kulturarvskortet</a></li>
                        }
                    </ul>
                </div>
                <div class="mobile-menu">
                    <i class="icon-menu" id="js-toggle-menu"></i>
                </div>
            </nav>
        </div>
    </div>
</header>