﻿@using System.Linq
@inherits Umbraco.Web.Mvc.UmbracoViewPage<MasterModel<Newsoverview>>
@{
    Layout = "~/Views/Master.cshtml";
}
@section metaTags{
    @RenderSection("metaTags", false)
}
@section headerOgTags{
    @RenderSection("headerOgTags", false)
}
@section headerScripts {
    @RenderSection("headerScripts", false)
}
@RenderBody()
@section footerScripts {
    @RenderSection("footerScripts", false)
}

<!-- ======================================= SideBar ======================================= -->
<aside class="right-sidebar">
    <h2 class="title box-item">Nyheter </h2>
    @if (Model.Content.NewsItems.Any())
    {
        foreach (var n in Model.Content.NewsItems)
        {
            <a href="@n.Url" class="col-4 box">

                <div class="grid-item details">
                    <span class="button default yellow">Läs mer</span>
                    <div class="copy">
                        @if (!string.IsNullOrWhiteSpace(n.Title))
                        {
                            <h2 class="title box-item">@n.Title</h2>
                        }
                        @if (n.Preamble != null)
                        {
                            <p>@n.Preamble</p>
                        }
                        <span class="date">@n.CurrentDate.ToString("yyyy MMMM dd")</span>
                    </div>
                </div>
            </a>
        }
    }
</aside>
<!-- SideBar -->
