﻿@using System.Linq
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IMasterModel>
@{
    Layout = "~/Views/Master.cshtml";
}
@section metaTags{
    @RenderSection("metaTags", false)
}
@section headerOgTags{
    @RenderSection("headerOgTags", false)
}
@section headerScripts {
    @RenderSection("headerScripts", false)
}
@RenderBody()
@section footerScripts {
    @RenderSection("footerScripts", false)
}

<!-- ======================================= SideBar ======================================= -->
<aside class="right-sidebar">
    @if (Model.SideBarMenuStart != null && Model.ShowSideBarMenu == true)
    {
        <ul class="sidebar-menu">
            @foreach (var child in Umbraco.TypedContent(Model.SideBarMenuStart.Id).Children<Base>().Where(c => c.HideInMenu != true))
            {
                var cssClass = Model.CurrentPage.Id == child.Id ? "active" : null;
                <li class="@cssClass"><a href="@child.Url">@child.MenuTitle</a></li>
            }
        </ul>
    }
    @Html.Partial("~/Views/Shared/Ads.cshtml")
</aside>
<!-- SideBar -->