﻿@using System
@using System.Linq
@model OpeningHours


@if (Helpers.OrdinaryOpeningHoursSet(Model))
{
    <div class="details">
        <h2 class="title box-item">Öppettider</h2>
        @Html.RenderOrdinaryOpeningHours(Model)
    </div>
}

@if (Model.OpeningHoursGenericExceptions.StripHtml().Length > 5)
{
    var heading = !string.IsNullOrEmpty(Model.OpeningHoursExceptionsHeading) ? Model.OpeningHoursExceptionsHeading : "Undantag öppettider";
    <div class="details">

        <h2 class="title box-item">@heading</h2>
        <p class="opening-hours-exception"><a id="openingHoursExceptions"></a> @Html.Raw(Model.OpeningHoursGenericExceptions)</p>
    </div>
}