
<div ng-controller="CultureCardUpdateController as cardController">
    <umb-panel>
        <umb-header tabs="content.tabs">
            <div class="umb-headline-editor-wrapper span8 ng-scope">
                <h1>Kulturkort - <strong>{{card.FirstName}} {{card.LastName}}</strong>
                </h1>
            </div>
            <div class="span4" style="margin-top: 30px"><a ng-click="deleteCard(card)" confirmation-needed="Vill du ta bort detta kort?" class="btn btn-danger" style="margin-left:40px; margin-right: 10px; float: right;">Tabort</a></div>
        </umb-header>

        <umb-tab-view>
            <umb-tab id="tab1" rel="svensson">

                <div class="umb-pane">
                    <form name="ccForm" ng-submit="submitForm(ccForm)" ng-init="initForm()">
                        <table>
                            <thead><tr><th></th><th></th><th></th></tr></thead>
                            <tbody>
                                <tr>
                                    <td>Id</td>
                                    <td><input id="cardId" ng-model="card.Id" name="id" type="text" readonly="readonly" /></td>
                                </tr>
                                <tr>
                                    <td>F&ouml;rnamn</td>
                                    <td><input id="firstName" ng-model="card.FirstName" name="firstName" type="text" ng-required="true" />
                                    <td><p ng-show="ccForm.firstName.$error.required">Fyll i f&ouml;rnamn</p></td>
                                </tr>
                                <tr>
                                    <td>Efternamn</td>
                                    <td><input id="lastName" ng-model="card.LastName" name="lastName" type="text" ng-required="true"/></td>
                                    <td><p ng-show="ccForm.lastName.$error.required">Fyll i efternamn</p></td>
                                </tr>
                                <tr>
                                    <td>Telefonnummer</td>
                                    <td><input ng-model="card.PhoneNumber" name="phoneNumber" type="number" ng-required="true"/></td>
                                    <td><p ng-show="ccForm.phoneNumber.$error.required">Fyll i telefon</p></td>
                                </tr>
                                <tr>
                                    <td>Postnummer</td>
                                    <td><input ng-model="card.ZipCode" name="zipCode" type="number" ng-required="true" ng-minlength="5" ng-maxlength="5"/></td>
                                    <td><p ng-show="ccForm.zipCode.$error.required">Fyll i postnummer</p><p ng-show="ccForm.zipCode.$error.minlength">Fem siffor</p><p ng-show="ccForm.zipCode.$error.maxlength">Max fem siffor</p></td>
                                </tr>
                                <tr>
                                    <td>Device-id</td>
                                    <td><input ng-model="card.DeviceId" name="deviceId" type="text" readonly="readonly"/></td>
                                </tr>
                                <tr>
                                    <td>Utg&aring;ngsdatum</td>
                                    <td><input ng-model="card.ExpireDate" name="expireDate" type="date" ng-required="true"/></td>
                                    <td><p ng-show="ccForm.expireDate.$error.required">Fyll i utg&aring;ngsdatum</p></td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="margin-top: 20px;">
                            <input value="Spara" type="submit" class="btn btn-success"/>
                        </div>
                    </form>
                </div>
            </umb-tab>
        </umb-tab-view>
    </umb-panel>
</div>