

<div ng-controller="CultureCardSectionController">
    <umb-panel>
        <umb-header tabs="content.tabs">
            <div class="umb-headline-editor-wrapper span12 ng-scope">
                <h1 class="ng-binding">Kulturkort {{id}}</h1>
            </div>
        </umb-header>

        <umb-tab-view>
            <umb-tab id="tab1" rel="svensson">
                <div class="umb-pane">
                    <table>
                        <thead><tr><th>Id</th><th>Name</th><th>Number</th><th>Zip</th><th>DeviceId</th><th>Expires</th><th></th></tr></thead>
                        <tbody>
                        <tr ng-repeat="card in cards" ng-mouseover="style={'background-color':'silver'}" ng-mouseleave="style={'background-color':'white'}" ng-style="style" id="card{{card.Id}}">
                            <td>{{card.Id}}</td>
                            <td>{{card.FirstName}} {{card.LastName}}</td>
                            <td>{{card.PhoneNumber}}</td>
                            <td>{{card.ZipCode}}</td>
                            <td>{{card.DeviceId}}</td>
                            <td>{{card.ExpireDate | date:'yyyy-MM-dd'}}</td>
                            <td><a href="/umbraco#/CultureCard/CultureCardTree/details/dashboard?cardid={{card.Id}}" class="btn" style="padding: 0 12px; margin-left: 5px;">Edit</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--<ul ng-repeat="card in cards">
                        <li>{{card.FirstName}}</li>
                    </ul>-->
                    <p ng-show="EditMode()">
                        <span class="label label-warning">In create mode, this label is only showed when the controller sees the create-querystring item.</span>
                    </p>
                </div>
            </umb-tab>
        </umb-tab-view>
    </umb-panel>
</div>