﻿@using System.Linq
@using Content = Umbraco.Extensions.Models.Generated.Content;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<MasterModel<Contact>>

@{
    Layout = "Master.cshtml";
}
@section footerScripts{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript">
    //TODO:Refactor and put into script files.
    $(function () {
        initialize();
    });
    function initialize() {
        var mapCanvas = $("#map_canvas");
        var lat1 = parseFloat(String(mapCanvas.data("lat")).replace(',', '.'));
        var lng1 = parseFloat(String(mapCanvas.data("lng")).replace(',', '.'));
        var pos = new google.maps.LatLng(lat1, lng1);
        var zoomFactor = parseInt(mapCanvas.data("zoom"));
        var options = {
            center: pos,
            zoom: zoomFactor,
            scaleControl:true,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById
           ("map_canvas"), options);

        var marker = new google.maps.Marker({
            position: pos,
            map: map,
            title: 'Hello World!'
        });
        
    }

    </script>
}

<section id="page">
    <header class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Content.Name</h1>
                    <ul class="breadcrumb visible-md visible-lg">
                        @foreach (var ancestor in Model.Content.Ancestors().Where(t => t.VisibleInMenu() || t.Level == 1).OrderBy(t => t.Level))
                        {
                            <li><a href="@ancestor.Url">@ancestor.GetMenuName()</a></li>
                        }
                        <li class="active">@Model.Content.GetMenuName()</li>
                    </ul>
                </div>
            </div>

        </div>
    </header>
    <section id="content" class="mt30">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h4>Adress:</h4>
                    <address>
                        @Model.Content.Adress.Adress1<br />
                        @Model.Content.Adress.Adress2<br />
                        @Model.Content.Adress.Adress3<br />
                    </address>
                    <h4>Telefon:</h4>
                    <address>
                        @Model.Content.Adress.Phone<br />
                    </address>
                    <h4>E-post:</h4>
                    <address>
                        @Model.Content.Adress.Email<br />
                    </address>
                </div>
                @using (Html.BeginUmbracoForm<ContactController>("SendContact"))
                {
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="Name">Namn</label>
                            <input type="text" class="form-control" name="Name" id="Name" placeholder="Namn" title="Please enter your name (at least 2 characters)" />
                        </div>
                        <div class="form-group">
                            <label for="Email">Epost</label>
                            <input type="email" class="form-control" name="Email" id="Email" placeholder="E-post" title="Please enter a valid email address" />
                        </div>
                        <div class="form-group">
                            <label for="Phone">Telefon</label>
                            <input name="Phone" class="form-control required digits" type="tel" id="Phone" size="30" value="" placeholder="Telefon" title="Please enter a valid phone number (at least 10 characters)">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="Message">Meddelande</label>
                            <textarea name="Message" class="form-control" id="Message" cols="3" rows="5" placeholder="Skriv ditt meddelande" title="Please enter your message (at least 10 characters)"></textarea>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-4">
                        <div class="result"></div>
                        <button name="submit" type="submit" class="btn btn-lg" id="submit"> Skicka</button>
                    </div>
                }
            </div>
        </div>
        @if (Model.Content.GoogleMaps != null)
        {
            <div data-lat="@Model.Content.GoogleMaps.Lat" data-lng="@Model.Content.GoogleMaps.Lng" data-zoom="@Model.Content.GoogleMaps.Zoom" id="map_canvas" style="height:350px"></div>
        }
    </section>
</section>