﻿@inherits UmbracoViewPage<MasterModel<CultureCard>>
@{
    Layout = "~/Views/Partials/_RightSideBar.cshtml";
}
@section headerOgTags{
    <!--Facebook og tags-->
    <meta property="og:title" content="@Model.SeoTitle" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="css/img/logo.png" />
    <meta property="og:url" content="@Model.Content.UrlWithDomain()" />
    <meta property="og:description" content="@Model.SeoDescription" />


    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Model.Content.UrlWithDomain()">
    <meta name="twitter:title" content="@Model.SeoTitle">
    <meta name="twitter:description" content="@Model.SeoDescription">
    <meta name="twitter:creator" content="@Model.Content.CreatorName">
    <meta name="twitter:image" content="css/img/logo.png">
}
<section class="content">
    <article class="standard">
        <div class="flexslider">
            @Html.Partial("~/Views/Shared/FlexSlider.cshtml", Model.Content.FlexSlider)
        </div>
        <div class="copy">
            <h1 class="title article">@Model.Content.Name</h1>
            <p class="ingress">
                @Model.Content.Preamble
            </p>
            <p>
                @Model.Content.MainBody
            </p>
        </div>
    </article>

@using (Html.BeginUmbracoForm<ContactController>("SendContact"))

 {
    <div class="col-sm-4">
        <div class="form-group input-holder js-label">
            <label for="Firstname">Förnamn</label>
            <input type="text" class="form-control" name="Firstname" id="Firstname"/>
        </div>
        <div class="form-group input-holder js-label">
            <label for="Lastname">Efternamn</label>
            <input type="text" class="form-control" name="Lastname" id="Lastname"/>
        </div>
        <div class="form-group input-holder js-label">
            <label for="Adress">Adress</label>
            <input type="text" class="form-control" name="Adress" id="Adress"/>
        </div>
        <div class="form-group input-holder js-label">
            <label for="ZipCode">Postnr</label>
            <input type="text" class="form-control" name="ZipCode" id="ZipCode"/>
        </div>
        <div class="form-group input-holder js-label">
            <label for="City">Postort</label>
            <input type="text" class="form-control" name="City" id="City"/>
        </div>
        <div class="form-group input-holder select js-label">
            <select name="NrCard">
                <option value="blank">Välj antal:</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="form-group input-holder js-label">
            <label for="Email">Epost</label>
            <input type="email" class="form-control" name="Email" id="Email"/>
        </div>
        <div class="form-group input-holder js-label">
            <label for="PromotionalCode">Ev kampanjkod: </label>
            <input type="text" class="form-control" name="PromotionalCode" id="PromotionalCode" />
        </div>
        <div class="result"></div>
        <button name="submit" type="submit" class="button black" id="submit"> Skicka</button>
    </div>
}
</section>