﻿@using System.Linq
@using umbraco.providers.members
@inherits Umbraco.Web.Mvc.UmbracoViewPage<MasterModel<Exhibition>>
@{
    Layout = "~/Views/Partials/_RightSideBar.cshtml";

    var root = Model.CurrentPage.AncestorsOrSelf(1).First();
    var withDomain = umbraco.library.NiceUrlWithDomain(root.Id);
}
@section headerOgTags{
    <!--Facebook og tags-->
    <meta property="og:title" content="@Model.SeoTitle" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="@(Model.Content.MainImage != null ? withDomain.TrimEnd("/") + Model.Content.MainImage.Cropper.GetCropUrl() : withDomain + "css/img/logo.png")" />
    <meta property="og:url" content="@Model.Content.UrlWithDomain()" />
    <meta property="og:description" content="@Model.SeoDescription" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Model.Content.UrlWithDomain()">
    <meta name="twitter:title" content="@Model.SeoTitle">
    <meta name="twitter:description" content="@Model.SeoDescription">
    <meta name="twitter:creator" content="@Model.Content.CreatorName">
    <meta name="twitter:image" content="@(Model.Content.MainImage != null ? withDomain.TrimEnd("/") + Model.Content.MainImage.Cropper.GetCropUrl() : withDomain + "css/img/logo.png")">
}
@section footerScripts{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript">
        //TODO:Refactor and put into script files.
        $(function () {
            initialize();
        });
        function initialize() {
            var mapCanvas = $("#map_canvas");
            var lat1 = parseFloat(String(mapCanvas.data("lat")).replace(',', '.'));
            var lng1 = parseFloat(String(mapCanvas.data("lng")).replace(',', '.'));
            var pos = new google.maps.LatLng(lat1, lng1);
            var zoomFactor = parseInt(mapCanvas.data("zoom"));
            var markerTitle = mapCanvas.data("title");
            var options = {
                center: pos,
                zoom: zoomFactor,
                scaleControl: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById
               ("map_canvas"), options);

            var marker = new google.maps.Marker({
                position: pos,
                map: map,
                title: markerTitle
            });

        }

    </script>
}

<section class="content">
    <article class="standard clearfix">
        <div class="flexslider">
            @Html.Partial("~/Views/Shared/FlexSlider.cshtml", Model.Content.FlexSlider)
        </div>
        <div class="copy small">
            <div class="tags">
                <div>@{ Html.RenderAction("IsOpen", "Exhibition", new { id = UmbracoContext.Current.PageId }, excludeFromParentCache: true); }</div>
                @foreach (var item in Model.Content.ExhibitionCategories)
                {
                    <span class="button default black inline tag noclick">@item.Name</span>
                }
            </div>
            <h3>Utställning</h3>
            <span class="date">@Helpers.GetFormatedStartStopDates(Model.Content.StartDate, Model.Content.StopDate)</span>
            <h1 class="title article">@Model.Content.Name</h1>
            <p class="ingress">
                @Model.Content.Preamble
            </p>
            <p>
                @Model.Content.MainBody
            </p>
        </div>
        <aside class="infobox">
            <span class="header">@Model.Content.RelatedAttraction.Name</span>
            @if (Model.Content.RelatedAttraction.Location != null)
            {
                <div data-lat="@Model.Content.RelatedAttraction.Location.Lat" data-lng="@Model.Content.RelatedAttraction.Location.Lng" data-title="@Model.Content.RelatedAttraction.Name" data-zoom="11" id="map_canvas" class="exhibition_mapcontainer"></div>
            }
            <span class="header"><i class="icon-location"></i> Visa på karta</span>
            @if (!string.IsNullOrEmpty(Model.Content.RelatedAttraction.VisitingAddress))
            {
                <div class="details">
                    <h2 class="title box-item">Besöksadress</h2>
                    @Model.Content.RelatedAttraction.VisitingAddress
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Content.RelatedAttraction.AdressLine1) || !string.IsNullOrEmpty(Model.Content.RelatedAttraction.AdressLine2) || !string.IsNullOrEmpty(Model.Content.RelatedAttraction.AdressLine3) || !string.IsNullOrEmpty(Model.Content.RelatedAttraction.Email) || !string.IsNullOrEmpty(Model.Content.RelatedAttraction.Www) || !string.IsNullOrEmpty(Model.Content.RelatedAttraction.Phone))
            {
                <div class="details">
                    <h2 class="title box-item">Kontakt</h2>
                    @if (!string.IsNullOrEmpty(Model.Content.RelatedAttraction.AdressLine1))
                    {
                        <p>@Model.Content.RelatedAttraction.AdressLine1 </p>
                    }
                    @if (!string.IsNullOrEmpty(Model.Content.RelatedAttraction.AdressLine2))
                    {
                        <p>@Model.Content.RelatedAttraction.AdressLine2 </p>
                    }
                    @if (!string.IsNullOrEmpty(Model.Content.RelatedAttraction.AdressLine3))
                    {
                        <p>@Model.Content.RelatedAttraction.AdressLine3 </p>
                    }
                    @if (!string.IsNullOrEmpty(Model.Content.RelatedAttraction.Phone))
                    {
                        <p>@Model.Content.RelatedAttraction.Phone </p>
                    }
                    @if (!string.IsNullOrEmpty(Model.Content.RelatedAttraction.Email))
                    {
                        <p>@Model.Content.RelatedAttraction.Email </p>
                    }
                    @if (!string.IsNullOrEmpty(Model.Content.RelatedAttraction.Www))
                    {
                        <p><a href="@Model.Content.RelatedAttraction.Www.GetUri()">Hemsida</a> </p>
                    }
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Content.RelatedAttraction.Directions))
            {
                <div class="details">
                    <h2 class="title box-item">Vägbeskrivning</h2>
                    @Model.Content.RelatedAttraction.Directions
                </div>
            }
            @if (@Model.Content.Price != null && !string.IsNullOrEmpty(Model.Content.Price.ToString()))
            {
                <div class="details">
                    <h2 class="title box-item">Entré</h2>
                    @Model.Content.Price
                </div>
            }
            @if (@Model.Content.RelatedAttraction.CardDiscount != null && !string.IsNullOrEmpty(Model.Content.RelatedAttraction.CardDiscount.ToString()))
            {
                <div class="details">
                    <h2 class="title box-item">Kulturarvskortet ger</h2>
                    @Model.Content.RelatedAttraction.CardDiscount
                </div>
            }
            @Html.Partial("~/Views/Partials/OpeningHours.cshtml", Model.Content.OrdinaryOpeningHours)
            <div class="details">
                <h2 class="title box-item">Service</h2>
                @foreach (var item in Model.Content.RelatedAttraction.ServiceCategories)
                {
                    <p>- @item.Name </p>
                }
            </div>
            <a href="@Model.Content.RelatedAttraction.Url"><span class="header"> Läs mer om besöksmålet</span></a>
        </aside>
    </article>
    <section class="filter-results sub">
        @if (Model.Content.RelevantExhibitions.Any())
        {
            <div class="grid-wrap subpage">
                <h2 class="title box-item">
                        Andra utställningar på @if (Model.Content.RelatedAttraction != null)
                        {@Model.Content.RelatedAttraction.Name}
                </h2>
                @foreach (var item in Model.Content.RelevantExhibitions)
                {
                    <a href="@item.Url" class="col-4 box">
                        <div class="grid-item">
                            @if (item.MainImage != null)
                            {
                                <img src="@item.MainImage.Cropper.GetCropUrl(270, 240, null, 100)" alt="@item.Name">
                            }
                            <span class="button default yellow">Läs mer</span>
                            <div class="copy">
                                <h2 class="title box-item">@item.Name</h2>
                                @if (Model.Content.RelatedAttraction != null)
                                {
                                    <p class="box-item">@Model.Content.RelatedAttraction.Name, @Model.Content.RelatedAttraction.City</p>
                                }
                                <span class="date">@Helpers.GetFormatedStartStopDates(item.StartDate, item.StopDate)</span>
                            </div>
                        </div>
                    </a>
                }
            </div>
        }
    </section>
</section>