﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<MasterModel<Gallery>>
@{
    Layout = "Master.cshtml";
}

<section id="page">
    <header class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Content.Name</h1>
                    <ul class="breadcrumb visible-md visible-lg">
                        @foreach (var ancestor in Model.Content.Ancestors().Where(t => t.VisibleInMenu() || t.Level == 1).OrderBy(t => t.Level))
                        {
                            <li><a href="@ancestor.Url">@ancestor.GetMenuName()</a></li>
                        }
                        <li class="active">@Model.Content.GetMenuName()</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section id="content">
        <section class="pt30 pb30">
            <div class="container clearfix">
                <div class="row">
                    @*<nav id="filter" class="span12 text-center">
                        <div class="btn-group">
                            <a href="" class="btn btn-default" data-filter="*">All</a>
                            <a href="" class="btn btn-default" data-filter=".graphics">Graphics</a>
                            <a href="" class="btn btn-default" data-filter=".women">Women</a>
                            <a href="" class="btn btn-default" data-filter=".cats">Cats</a>
                        </div>
                    </nav>*@
                    <div class="portfolio-items  isotopeWrapper clearfix imgHover" id="3">
                        <!-- portfolio item -->
    @if (Model.Content.Images != null && Model.Content.Images.Any())
    {
        foreach (var image in Model.Content.Images)
        {
            <article class="col-sm-3 isotopeItem women">
                <div class="imgBorder">
                    <img alt="" src="@image.Cropper.GetCropUrl()" class="img-responsive imgBorder">
                    <div class="mediaHover">
                        <div class="mask"></div>
                        <div class="iconLinks">
                            <a href="portfolio-project-fullwidth-image.html" title="link">
                                <i class="icon-picture iconRounded iconMedium"></i>
                                <span>link</span>
                            </a>
                            <a href="@image.Cropper.GetCropUrl()" class="image-link" title="Full width image">
                                <i class="icon-search iconRounded iconMedium"></i>
                                <span>zoom</span>
                            </a>
                        </div>
                    </div>
                    <section class="boxContent">
                    <h3>@image.Name</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate nunc ut tellus sollicitudin placerat. <br />
                        <a href="portfolio-project-fullwidth-image.html" class="moreLink">&rarr; read more</a>
                    </p>
                </section>
            </div>
        </article>
        }
    }
                        
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>


















