﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<MasterModel<GeoContainer>>
@{
    Layout = "~/Views/Partials/_RightSideBar.cshtml";
}
@section metaTags{
    <meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
}
@section footerScripts{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript">
        //TODO:Refactor and put into script files.
        $(function () {
            initialize();
        });
        function initialize() {
            var mapCanvas = $("#map_canvas");
            var lat1 = parseFloat(String(mapCanvas.data("lat")).replace(',', '.'));
            var lng1 = parseFloat(String(mapCanvas.data("lng")).replace(',', '.'));
            var pos = new google.maps.LatLng(lat1, lng1);
            var zoomFactor = parseInt(mapCanvas.data("zoom"));
            var markerTitle = mapCanvas.data("title");
            var options = {
                center: pos,
                zoom: zoomFactor,
                scaleControl: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById
               ("map_canvas"), options);

            var marker = new google.maps.Marker({
                position: pos,
                map: map,
                title: markerTitle
            });

        }

    </script>
}
<section class="content">
    <h1 class="title article">@Model.Content.Name</h1>
    @if (Model.Content.GeoCenter != null)
    {
        <div data-lat="@Model.Content.GeoCenter.Lat" data-lng="@Model.Content.GeoCenter.Lng" data-title="@Model.Content.Name" data-zoom="@Model.Content.GeoCenter.Zoom" id="map_canvas" style="height:350px"></div>
    }
</section>