﻿@using System.Linq
@inherits Umbraco.Web.Mvc.UmbracoViewPage<MasterModel<Infopage>>
@{
    Layout = "Master.cshtml";
}
@section headerOgTags{
    <!--Facebook og tags-->
    <meta property="og:title" content="@Model.SeoTitle" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="css/img/logo.png" />
    <meta property="og:url" content="@Model.Content.UrlWithDomain()" />
    <meta property="og:description" content="@Model.SeoDescription" />


    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Model.Content.UrlWithDomain()">
    <meta name="twitter:title" content="@Model.SeoTitle">
    <meta name="twitter:description" content="@Model.SeoDescription">
    <meta name="twitter:creator" content="@Model.Content.CreatorName">
    <meta name="twitter:image" content="css/img/logo.png">
}
<section class="content">
    <div class="copy">
        <h1 class="title article">@Model.Content.Name</h1>
        <p class="ingress">
            @Model.Content.Preamble
        </p>
        <p>
            @Model.Content.InfoText
        </p>
    </div>
</section>