﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IMasterModel>
@{
    Layout = null;
    var lang = library.GetDictionaryItem("langCode");
}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="@lang"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="@lang"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="@lang"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="@lang">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs
      ================================================== -->
    <meta charset="utf-8">
    @RenderSection("metaTags", false)
    @RenderSection("headerOgTags", false)
    <title>@Model.SeoTitle</title>
    <meta name="description" content="@Model.SeoDescription">

    <!-- Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-59828150-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', '//connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1084622981589967');
        fbq('track', "PageView");
    </script>
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
        document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1049742981752120');
        fbq('track', "PageView");
    </script>

    <!-- End Facebook Pixel Code -->
    <!-- End Facebook Pixel Code -->
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/css/style.min.css?v=1.0.10" />
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    @RenderSection("headerScripts", false)
    <!-- Favicons
      ================================================== -->
    <link rel="shortcut icon" href="~/css/img/favicon.ico?v=1.0">
</head>
<body>
    <!-- Facebook Pixel Code -->
    <noscript>
        <img height="1" width="1" style="display: none"
             src="https://www.facebook.com/tr?id=1084622981589967&ev=PageView&noscript=1" />

        <img height="1" width="1" style="display: none"
             src="https://www.facebook.com/tr?id=1049742981752120&ev=PageView&noscript=1" />
    </noscript>
    <!-- Primary Page Layout
    ================================================== -->
    <!-- globalWrapper -->
    <div id="globalWrapper">
        <!-- header -->
        @{ Html.RenderPartial("~/Views/Partials/_Header.cshtml", Model); }
        <!-- header -->
        <!-- WRAPPER BEGINS-->
        <div class="wrapper clearfix">

            <!-- ======================================= content ======================================= -->
            @RenderBody()
            <!-- content -->

        </div>
        <!--WRAPPER ENDS-->
        <!-- footer -->
        @{ Html.RenderPartial("~/Views/Partials/_Footer.cshtml", Model); }
        <!-- End footer -->
    </div>
    <!-- global wrapper -->
    <!-- End Document
    ================================================== -->
    <script src="//use.typekit.net/xwr2gbf.js"></script>
    <script>
        try {
            Typekit.load();
        } catch (e) {
        }
    </script>
    <script src="~/js/build/all.js?v=1.0.37"></script>
    <script src="~/js/develop/functions.js?v=1.0.2"></script>
    @RenderSection("footerScripts", false)
    @Html.Action("MiniProfiler", "Default", excludeFromParentCache: true)
</body>
</html>