﻿@using System.Linq
@inherits Umbraco.Web.Mvc.UmbracoViewPage<MasterModel<Newsoverview>>
@{
    Layout = "~/Views/Partials/_RightNewsSideBar.cshtml";
}
@section headerOgTags{
    <!--Facebook og tags-->
    <meta property="og:title" content="@Model.SeoTitle" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="css/img/logo.png" />
    <meta property="og:url" content="@Model.Content.UrlWithDomain()" />
    <meta property="og:description" content="@Model.SeoDescription" />


    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Model.Content.UrlWithDomain()">
    <meta name="twitter:title" content="@Model.SeoTitle">
    <meta name="twitter:description" content="@Model.SeoDescription">
    <meta name="twitter:creator" content="@Model.Content.CreatorName">
    <meta name="twitter:image" content="css/img/logo.png">
}
<section class="content">
    <article class="standard">
        @if (Model.Content.NewsItems.Any())
        {
            <div class="slide-wrap">
                @if (@Model.Content.NewsItems.ElementAt(0).MainImage != null)
                {
                    <img src="@Model.Content.NewsItems.ElementAt(0).MainImage.Cropper.GetCropUrl(910,510,null,100)">
                }
            </div>
            <div class="copy">
                <span class="date">@Model.Content.NewsItems.ElementAt(0).CurrentDate.ToString("yyyy MMMM dd") </span>
                <h1 class="title article">@Model.Content.NewsItems.ElementAt(0).Name</h1>
                <p class="ingress">
                    @Model.Content.NewsItems.ElementAt(0).Preamble
                </p>
                <p>
                    @Model.Content.NewsItems.ElementAt(0).MainBody
                </p>
            </div>
        }
    </article>
</section>