﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<MasterModel<Newsitem>>
@{
    Layout = "~/Views/Partials/_RightSideBar.cshtml";

    var image = Model.Content.MainImage != null ? Model.Content.MainImage.Cropper.Src : "css/img/logo.png";
    var fullUrl = Model.Content.MainImage != null ? Model.Content.StartPage().UrlWithDomain().TrimEnd("/") : null;
}
@section headerOgTags{
    <!--Facebook og tags-->
    <meta property="og:title" content="@Model.SeoTitle" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="@fullUrl@image" />
    <meta property="og:url" content="@Model.Content.UrlWithDomain()" />
    <meta property="og:description" content="@Model.SeoDescription" />


    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Model.Content.UrlWithDomain()">
    <meta name="twitter:title" content="@Model.SeoTitle">
    <meta name="twitter:description" content="@Model.SeoDescription">
    <meta name="twitter:creator" content="@Model.Content.CreatorName">
    <meta name="twitter:image" content="@Model.Content.MainImage.Url()">
}
<section class="content">
    <article class="standard">
        <div class="slide-wrap">
            @if (Model.Content.MainImage != null)
            {
                <img src="@Model.Content.MainImage.Cropper.GetCropUrl(910, 510, null, 100)">
            }
        </div>
        <div class="copy">
            <span class="date">@Model.Content.CurrentDate.ToString("yyyy MMMM dd")</span>
            <h1 class="title article">@Model.Content.Title</h1>
            <p class="ingress">
                @Model.Content.Preamble
            </p>
            <p>
                @Model.Content.MainBody
            </p>
        </div>
    </article>
</section>