﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<MasterModel<Search>>
@{
    Layout = "Master.cshtml";
}

<section id="page">
    <header class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Content.Name</h1>
                    @Html.Partial("~/Views/Shared/BreadCrumbs.cshtml", Model.Content)
                </div>
            </div>
        </div>
    </header>
    <section id="content" class="mt30 pb30">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @Umbraco.RenderMacro("ezSearch")
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </section>
</section>