﻿@using System.Linq
@inherits Umbraco.Web.Mvc.UmbracoViewPage<MasterModel<Standard>>
@{
    Layout = "~/Views/Partials/_RightSideBar.cshtml";
}
@section headerOgTags{
    <!--Facebook og tags-->
    <meta property="og:title" content="@Model.SeoTitle" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="css/img/logo.png" />
    <meta property="og:url" content="@Model.Content.UrlWithDomain()" />
    <meta property="og:description" content="@Model.SeoDescription" />


    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Model.Content.UrlWithDomain()">
    <meta name="twitter:title" content="@Model.SeoTitle">
    <meta name="twitter:description" content="@Model.SeoDescription">
    <meta name="twitter:creator" content="@Model.Content.CreatorName">
    <meta name="twitter:image" content="css/img/logo.png">
}
<section class="content">
	<article class="standard">
		<div class="flexslider">
			@Html.Partial("~/Views/Shared/FlexSlider.cshtml", Model.Content.FlexSlider)
		</div>
		<div class="copy">
			<h1 class="title article">@Model.Content.Name</h1>
			<p class="ingress">
				@Model.Content.Preamble
			</p>
			<p>
				@Model.Content.MainBody
			</p>
		</div>
	</article>
</section>


